########################################
# printer.cfg
# Main configuration used by clipper. 
# This is the only file to be modified for 
# every printer variant/SKU
# Author: Vijay Raghav Varada
# Version: 1
########################################


########################################
# Include .cfg Files
# Order in which files included is important
# for function overrides & references downstream
########################################

########################################
# Select Any One Kinematic Configuration
#[include PRINTERS_TWINDRAGON_300x300.cfg]
#[include PRINTERS_TWINDRAGON_400x400.cfg]
[include PRINTERS_TWINDRAGON_600x300.cfg]
#[include PRINTERS_TWINDRAGON_600x600.cfg]
#[include PRINTERS_DRAGON_400x300.cfg]
#[include PRINTERS_DRAGON_500x400.cfg]
#[include PRINTERS_DRAGON_700x600.cfg]
########################################

########################################
# include Common Configuration
[include COMMON_GCODE_MACROS.cfg]
########################################

########################################
# Select Any One Motherboard Configuration
#[include MOTHERBOARD_DRAGON.cfg]
[include MOTHERBOARD_TWINDRAGON.cfg]
########################################

########################################
# TD IDEX Miscellanious Configuration
# (!!!Comment out for Dragon Series!!!)
[include IDEX_TWINDRAGON.cfg]
[include FILAMENT_SENSOR_TWINDRAGON.cfg]
########################################

########################################
# Dragon Miscellanious Configuration
# (!!!Comment out all for TD Series!!!)
#[include FILAMENT_SENSOR_DRAGON.cfg]
#[include DRAGON_MACROS.cfg]
########################################

########################################
# Select Any  One Toolhead0 Configuration
[include TOOLHEADS_TD-01_TOOLHEAD0.cfg]
#[include TOOLHEADS_TD-02_TOOLHEAD0.cfg]
########################################

########################################
# Select Any One Toolhead1 Configuration 
# (!!!Comment out for Dragon Series!!!)
[include TOOLHEADS_TD-01_TOOLHEAD1.cfg]
#[include TOOLHEADS_TD-02_TOOLHEAD1.cfg]
########################################

########################################
# Do not touch this file unless you know 
# 
########################################
# MCU Config
########################################

[mcu]
canbus_uuid: a627379bdf45 #Main default MCU
#serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_060015001551303531313638-if00

[mcu toolhead0]
canbus_uuid: f38efabe2780 #Tool0 MCU

[mcu toolhead1]
canbus_uuid: c1997de8623d #Tool1 MCU

########################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -0.200
#*#
#*# [input_shaper]
#*# shaper_freq_x = 54.2
#*# shaper_freq_y = 48.2
#*# shaper_type_x = mzv


